<!DOCTYPE html>
<html>
    <head>
        <title>로그인페이지</title>
    </head>
    <body>
        <div>
            <form action="http://localhost:9999/login" method="post">
                <fieldset>
                    <legend>로그인</legend>
                    이메일: <input type="text" name="email"/><br>
                    비밀번호: <input type="password" name="password"/><br>
                </fieldset>
                <input type="submit" value="submit" />
            </form>
        </div>
    </body>
</html>