<!DOCTYPE html>
<html>
    <head>
        <title>회원가입페이지</title>
    </head>
    <body>
        <div>
            <form>
                <fieldset>
                    <legend>회원정보입력</legend>
                    이메일: <input type="text" name="useremail"/><br>
                    비밀번호: <input type="password" name="userpw"/><br>
                </fieldset>
                <input type="submit" value="submit" />
            </form>
        </div>
    </body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
    $(document).ready(function(){
        $('#submit').click(function(){   //submit 버튼을 클릭하였을 때
            let sendData = "email="+$('input[=useremail]').val() + "&password=" + $('input[=userpw]').val();   //폼의 이름 값을 변수 안에 담아줌
            $.ajax({
                type:'post',   //post 방식으로 전송
                url:'http://203.232.193.164:9999/sign-up',   //데이터를 주고받을 파일 주소
                data:sendData,   //위의 변수에 담긴 데이터를 전송해준다.
                dataType:'html',   //html 파일 형식으로 값을 담아온다.
                success : function(data){   //파일 주고받기가 성공했을 경우. data 변수 안에 값을 담아온다.
                    $('#message').html(data);  //현재 화면 위 id="message" 영역 안에 data안에 담긴 html 코드를 넣어준다. 
                }
            });
        });
    });
    </script>
    </html>